<!DOCTYPE html>
<html>
<body>

<div class="split left" *ngIf="!books">
  
  <div class="centered">
    <div>
    <h1>Search For Books</h1>
  </div>
    <input type="text" placeholder="Enter the name ... " #searchValue>
    <div class="goDiv">
      <button (click)="search(searchValue)" class="goButton">Go</button>
    </div>
  </div>
</div>

<div class="split2 right" *ngIf="books">
  
  <div class="section1">
    <div *ngFor="let book of books | paginate : config">
      <p *ngIf="book.volumeInfo.imageLinks"> <img src={{book.volumeInfo.imageLinks.smallThumbnail}} />
      </p>
      <span> {{book.volumeInfo.title}}</span>
    </div>
  </div>

  <div class="page-nav">
    <pagination-controls (pageChange)="pageChanged($event)" maxSize="3" directionLinks="true" autoHide="false"
      responsive="false" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>


  <div class="divSort">
    <button (click)="sortByTitle()" class="sortButton" [disabled]="!books">Sort By title</button>
  </div>

</div>

</body>
</html>